// SPDX-License-Identifier: GPL-2.0
/*
 * dts file for Xilinx Versal VCK190 revA
 *
 * (C) Copyright 2019, Xilinx, Inc.
 *
 * Michal Simek <michal.simek@xilinx.com>
 */

/ {
	compatible = "xlnx,versal-vck190-revA", "xlnx,versal";
	model = "Xilinx Versal vck190 Eval board revA";

	chosen {
		bootargs = "console=ttyAMA0 earlycon=pl011,mmio32,0xFF000000,115200n8 clk_ignore_unused";
		stdout-path = "serial0:115200";
	};

	aliases {
		serial0 = &serial0;
		ethernet0 = &gem0;
		ethernet1 = &gem1;
		i2c0 = &i2c0;
		i2c1 = &i2c1;
		mmc0 = &sdhci1;
		spi0 = &qspi;
		usb0 = &usb0;
		rtc0 = &rtc;
	};
};

/* PMC_MIO 0 -12 - configuration header QSPI/OSPI/EMMC */
/* FIXME PMC_MIO37 ZU4_TRIGGER/PMC_MIO37/38 PCIE */

&can1 { /* MIO40-41 */
	status = "okay";
};

&dcc {
	status = "okay";
};

&rtc {
	status = "okay";
};

&gpio0 {
	status = "okay";
};

&gpio1 {
	status = "okay";
};

&watchdog {
	status = "okay";
};

&sdhci1 { /* PMC_MIO26-36/51 */
	status = "okay";
	xlnx,mio_bank = <1>;
	no-1-8-v;
};

&serial0 { /* PMC_MIO42/43 */
	status = "okay";
};

&gem0 { /* PMC_MIO_48, LPD_MIO0-11/24/25 */
	status = "okay";
	phy-handle = <&phy1>; /* u128 */
	phy-mode = "rgmii-id";
	phy1: phy@1 {
		reg = <1>;
		ti,rx-internal-delay = <0xb>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <1>;
		ti,dp83867-rxctrl-strap-quirk;
	};
	phy2: phy@2 {
		reg = <2>;
		ti,rx-internal-delay = <0xb>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <1>;
		ti,dp83867-rxctrl-strap-quirk;
	};
};

&gem1 { /* PMC_MIO_49, LPD_MIO12-23 */
	status = "okay";
	phy-handle = <&phy2>; /* u134 */
	phy-mode = "rgmii-id";
};

&i2c0 { /* PMC_MIO46/47 */
	status = "okay";
	clock-frequency = <400000>;
	i2c-mux@74 { /* u33 */
		compatible = "nxp,pca9548";
		#address-cells = <1>;
		#size-cells = <0>;
		reg = <0x74>;
		i2c@0 { /* PMBUS */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <0>;
		
			/* u152 IR35215 0x16/0x41 vcc_soc */ 
			/* u160 irps5401 0x17/0x45 vcc_psfp */
			/* u167 irps5401 0x1c/0x46 vccaux_pmc */
			/* u175 irps5401 0x1d/0x4d mgtyvccaux */
			/* u185 ir38164 0x1e/0x4a vadj_fmc */
			/* u187 ir38164 0x1F/0x4b mgtyavcc */
			/* u189 ir38164 0x20/0x4c mgtyavtt */

			ir35215_46: ir35215@46 { /* IR35215 - u152 */
				compatible = "infineon,irps5401";
				reg = <0x46>; /* pmbus / i2c 0x1d */
			};
			irps5401_47: irps5401@47 { /* IRPS5401 - u160 */
				compatible = "infineon,irps5401";
				reg = <0x47>; /* pmbus / i2c 0x17 */
			};
			irps5401_4c: irps5401@4c { /* IRPS5401 - u167 */
				compatible = "infineon,irps5401";
				reg = <0x4c>; /* pmbus / i2c 0x1c */
			};
			irps5401_4d: irps5401@4d { /* IRPS5401 - u175 */
				compatible = "infineon,irps5401";
				reg = <0x4d>; /* pmbus / i2c 0x1d */
			};
			ir38164_4e: ir38164@4e { /* IRPS5401 - u185 */
				compatible = "infineon,ir38164";
				reg = <0x4e>; /* pmbus / i2c 0x1e */
			};
			ir38164_4f: ir38164@4f { /* IRPS5401 - u187 */
				compatible = "infineon,ir38164";
				reg = <0x4f>; /* pmbus / i2c 0x1f */
			};
			ir38164_50: ir38164@50 { /* IRPS5401 - u189 */
				compatible = "infineon,ir38164";
				reg = <0x50>; /* pmbus / i2c 0x20 */
			};

		};
		i2c@1 { /* PMBUS1_INA226 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <1>;
			vccint: ina226@40 { /* u65 */
				compatible = "ti,ina226";  		
				#io-channel-cells = <1>;
				label = "ina226-vccint";
				reg = <0x40>;
				shunt-resistor = <500>; /* R440 */
				parent-regulator = <&ir35215_46>;
				page-number = <0>;
				/* 0.80V @ 32A 1 of 6 Phases*/
			};
			vcc_soc: ina226@41 { /* u161 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>; 
				label = "ina226-vcc-soc";
				reg = <0x41>;
				shunt-resistor = <500>; /* R1702 */
				parent-regulator = <&ir35215_46>;
				page-number = <1>;
				/* 0.80V @ 18A */
			};
			vcc_pmc: ina226@42 { /* u163 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-vcc-pmc";
				reg = <0x42>; 
				shunt-resistor = <5000>; /* R1214 */
				parent-regulator = <&irps5401_47>;
				page-number = <4>;
				/* 0.78V @ 500mA */
			};
			vcc_ram: ina226@43 { /* u162 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>; 
				label = "ina226-vcc-ram";
				reg = <0x43>;
				shunt-resistor = <5000>; /* r1221 */
				parent-regulator = <&irps5401_47>;
				page-number = <3>;
				/* 0.78V @ 4A */
			};
			vcc_pslp: ina226@44 { /* u165 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-vcc-pslp"; 
				reg = <0x44>;
				shunt-resistor = <5000>; /* R1216 */
				parent-regulator = <&irps5401_47>;
				page-number = <0>;
				/* 0.78V @ 1A */
			};
			vcc_psfp: ina226@45 { /* u164 */
				compatible = "ti,ina226"; 
				#io-channel-cells = <1>;
				label = "ina226-vcc-psfp";
				reg = <0x45>;
				shunt-resistor = <5000>; /* R1219 */
				parent-regulator = <&irps5401_47>;
				page-number = <1>;
				/* 0.78V @ 2A */
			};
		};
		i2c@3 { /* PMBUS2_INA226 */
			#address-cells = <1>;
			#size-cells = <0>;
			reg = <3>;
			vccaux: ina226@40 { /* u166 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-vccaux"; 
				reg = <0x40>;
				shunt-resistor = <5000>; /* R382 */
				parent-regulator = <&irps5401_47>;
				page-number = <2>;
				/* 1.5V @ 3A */
			};
			vccaux_pmc: ina226@41 { /* u168 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-vccaux-pmc";
				reg = <0x41>; 
				shunt-resistor = <5000>; /* R1246 */
				parent-regulator = <&irps5401_4c>;
				page-number = <4>;
				/* 1.5V @ 500mA */
			};				
			vcc_1v8: ina226@46 { /* u173 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-vcc-1v8";
				reg = <0x46>; 
				shunt-resistor = <5000>; /* R400 */
				parent-regulator = <&irps5401_4c>;
				page-number = <2>;
				/* 1.8V @ 6A */
			};
			vcc_3v3: ina226@47 { /* u174 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-vcc-3v3";
				reg = <0x47>; 
				shunt-resistor = <5000>; /* R1232 */
				parent-regulator = <&irps5401_4c>;
				page-number = <1>;
				/* 3.3V @ 500mA */
			};
			vcc_1v2_ddr4: ina226@48 { /* u176 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-vcc-1v2-ddr4";
				reg = <0x48>;  
				shunt-resistor = <5000>; /* R1275 */
				parent-regulator = <&irps5401_4d>;
				page-number = <2>;
				/* 1.2V @ 4A */
			};
			vcc1v1_lp4: ina226@49 { /* u177 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-vcc1v1-lp4";
				reg = <0x49>; 
				shunt-resistor = <5000>; /* R1286 */
				parent-regulator = <&irps5401_4d>;
				page-number = <3>;
				/* 1.1V@ 4A */
			};
			vadj_fmc: ina226@4a { /* u184 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-vadj-fmc";
				reg = <0x4a>; 
				shunt-resistor = <2000>; /* R1350 */
				parent-regulator = <&ir38164_4e>;
				page-number = <0>;
				/* 1.5V @ 10A */
			};
			mgtyavcc: ina226@4b { /* u186 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-mgtyavcc";
				reg = <0x4b>; 
				shunt-resistor = <2000>; /* R1367 */
				parent-regulator = <&ir38164_4f>;
				page-number = <0>;
				/* 0.88V @ 6A */
			};
			mgtyavtt: ina226@4c { /* u188 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-mgtyavtt";
				reg = <0x4c>; 
				shunt-resistor = <2000>; /* R1384 */
				parent-regulator = <&ir38164_50>;
				page-number = <0>;
				/* 1.2V @ 10A */
			};
			mgtyvccaux: ina226@4d { /* u234 */
				compatible = "ti,ina226";
				#io-channel-cells = <1>;
				label = "ina226-mgtyvccaux";
				reg = <0x4d>; 
				shunt-resistor = <5000>; /* r1679 */
				parent-regulator = <&irps5401_4d>;
				page-number = <4>;
				/* 1.5V @ 500mA */
			};
		};
	};
};

&i2c1 { /* PMC_MIO44/45 */
	status = "okay";
	clock-frequency = <400000>;
};

&usb0 { /* PMC_MIO13_500 - PMC_MIO25 USB 2.0 */
	status = "okay";
	xlnx,usb-polarity = <0x0>;
	xlnx,usb-reset-mode = <0x0>;
};

&dwc3_0 { /* USB 2.0 host */
	status = "okay";
	dr_mode = "host";
	maximum-speed = "high-speed";
	snps,dis_u2_susphy_quirk;
	snps,dis_u3_susphy_quirk;
	snps,usb3_lpm_capable;
};
