/ {
compatible = "qemu,mbv", "amd,mbv";
	chosen {
		bootargs = "earlycon";
	};
};

&axi_ethernet_0 {
	phy-handle = <&phy0>;
	/delete-node/ mdio;
	axi_ethernet_mdio: mdio {
		#address-cells = <1>;
		#size-cells = <0>;
		phy0: phy@1 {
			device_type = "ethernet-phy";
			reg = <1>;
		};
	};
};


&axi_quad_spi_0 {
	flash@0 {
		compatible = "m25p80", "jedec,spi-nor";
		#address-cells = <1>;
		#size-cells = <1>;
		reg = <0>;
		spi-max-frequency = <40000000>; /* 40MHz */
	};
};
