// SPDX-License-Identifier: GPL-2.0
/*
 * dts file for AMD Versal Gen 2
 *
 * (C) Copyright 2025, Advanced Micro Devices, Inc.
 *
 * Michal Simek <michal.simek@amd.com>
 */

#include "include/dt-bindings/gpio/gpio.h"

/dts-v1/;
/plugin/;

&{/} {
	compatible = "xlnx,zynqmp-scm-ve-p-a1225-00-revA",
		     "xlnx,zynqmp-scm-ve-p-a1225-00", "xlnx,zynqmp";
	model = "ZynqMP SCM VE-P-A1225-00 revA";

	sys-clk-0 {
		status = "okay";
		compatible = "xlnx,fclk";
		clocks = <&qsfp_0_refclk>;
	};

	sys-clk-1 {
		status = "okay";
		compatible = "xlnx,fclk";
		clocks = <&ccio_osc_clk>;
	};

	sys-clk-2 {
		status = "okay";
		compatible = "xlnx,fclk";
		clocks = <&xpn7_ref_clk>;
	};
};

&i2c0 { /* I2C_SCK C30/C31 - MIO 66/67 */
	status = "okay";
	#address-cells = <1>;
	#size-cells = <0>;
	/* i2c_pmc */
	/* u24 - repeater from SC (J72 - disabling) */

	vcc_soc: tps53681@61 { /* u1881 */
		compatible = "ti,tps53681";
		reg = <0x61>;
	};

	/* u15/u14 - tca9517 (J55 - disabling) */
	/* ina226_pmbus - ina226 don't need to be described */

	/* u23/u33 - tca9517 (J10 - disabling) */
	/* pmbus to ext_pmus */
	/* TPS546A24A don't need to be described */
	vccint: tps53681@60 { /* u1870 */
		compatible = "ti,tps53681";
		reg = <0x60>;
	};
};

&i2c1 { /* I2C_SCK B36/B37 - MIO from 24/25 */
	#address-cells = <1>;
	#size-cells = <0>;
	/* u97 - m24128 16kB is defined in 'zynqmp-sc-k24-revA.dts' */

	/* ucd_pmbus u1906 - repeater from SC (J1950 - disabling) */
	ucd90320: power-sequencer@73 { /* u1768 */
		compatible = "ti,ucd90320";
		reg = <0x73>;
	};

	/* i2c_main u21 - repeater from SC (J79 - disabling) */
	/* i2c_main_1 u147 - ltc4316 - translator from SC (J157 - disabling) */
	qsfp_0_refclk: clock-generator@63 { /* u43 - origin addr 0x50 - 40MHz */
		#clock-cells = <0>;
		compatible = "renesas,proxo-xp";
		reg = <0x63>;
		clock-output-names = "qsfp_0_refclk";
	};

	/* i2c_main_2 u148 - ltc4316 - translator from SC (J122 - disabling) */
	ccio_osc_clk: clock-generator@62 { /* u115 - origin addr 0x50 - 200MHz */
		#clock-cells = <0>;
		compatible = "renesas,proxo-xp";
		reg = <0x62>;
		clock-output-names = "ccio_osc_clk";
	};

	/* i2c_main_4 u150 - ltc4316 - translator from SC (J146 - disabling) */
	xpn7_ref_clk: clock-generator@61 { /* u39 - origin addr 0x50 - 40MHz */
		#clock-cells = <0>;
		compatible = "renesas,proxo-xp";
		reg = <0x61>;
		clock-output-names = "xpn7_ref_clk";
	};


	/* u1910 - rc21005bq (OTP) i2c 0x9 selection via J1964/J1965/J1966 or UFS_CLK_SEL_X gpios */
	/* Also to SE card via D23/D24 Samtec */
};
