// SPDX-License-Identifier: GPL-2.0
/*
 * dts file for Xilinx Versal VMK180 revA
 *
 * (C) Copyright 2019, Xilinx, Inc.
 *
 * Michal Simek <michal.simek@xilinx.com>
 */

/ {
	compatible = "xlnx,versal-vmk180-revA", "xlnx,versal";
	model = "Xilinx Versal vmk180 Eval board revA";

	chosen {
		bootargs = "console=ttyAMA0 earlycon=pl011,mmio32,0xFF000000,115200n8 clk_ignore_unused";
		stdout-path = "serial0:115200";
	};

	aliases {
		serial0 = &psv_sbsauart_0;
		ethernet0 = &psv_ethernet_0;
		ethernet1 = &psv_ethernet_1;
		i2c0 = &psv_i2c_0;
		i2c1 = &psv_i2c_1;
		mmc0 = &psv_pmc_sd_1;
		spi0 = &psv_pmc_qspi_0;
		usb0 = &psv_usb_xhci_0;
		rtc0 = &psv_pmc_rtc_0;
	};
};

/* PMC_MIO 0 -12 - configuration header QSPI/OSPI/EMMC */
/* FIXME PMC_MIO37 ZU4_TRIGGER/PMC_MIO37/38 PCIE */

&psv_canfd_1 { /* MIO40-41 */
	status = "okay";
};

&dcc {
	status = "okay";
};

&psv_pmc_rtc_0 {
	status = "okay";
};

&psv_gpio_0 {
	status = "okay";
};

&psv_gpio_1 {
	status = "okay";
};

&psv_wwdt_0 {
	status = "okay";
};

&psv_pmc_sd_1 { /* PMC_MIO26-36/51 */
	status = "okay";
	xlnx,mio_bank = <1>;
	no-1-8-v;
};

&psv_sbsauart_0 { /* PMC_MIO42/43 */
	status = "okay";
};

&psv_ethernet_0 { /* PMC_MIO_48, LPD_MIO0-11/24/25 */
	status = "okay";
	phy-handle = <&phy1>; /* u128 */
	phy-mode = "rgmii-id";
	phy1: phy@1 {
		reg = <1>;
		ti,rx-internal-delay = <0xb>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <1>;
		ti,dp83867-rxctrl-strap-quirk;
	};
	phy2: phy@2 {
		reg = <2>;
		ti,rx-internal-delay = <0xb>;
		ti,tx-internal-delay = <0xa>;
		ti,fifo-depth = <1>;
		ti,dp83867-rxctrl-strap-quirk;
	};
};

&psv_ethernet_1 { /* PMC_MIO_49, LPD_MIO12-23 */
	status = "okay";
	phy-handle = <&phy2>; /* u134 */
	phy-mode = "rgmii-id";
};

&psv_i2c_0 { /* PMC_MIO46/47 */
	status = "okay";
	clock-frequency = <400000>;
};

&psv_i2c_1 { /* PMC_MIO44/45 */
	status = "okay";
	clock-frequency = <400000>;
};

&psv_usb_xhci_0 { /* PMC_MIO13_500 - PMC_MIO25 USB 2.0 */
	status = "okay";
	xlnx,usb-polarity = <0x0>;
	xlnx,usb-reset-mode = <0x0>;
};

&dwc3_0 { /* USB 2.0 host */
	status = "okay";
	dr_mode = "host";
	maximum-speed = "high-speed";
	snps,dis_u2_susphy_quirk;
	snps,dis_u3_susphy_quirk;
	snps,usb3_lpm_capable;
};
